.commonSections{
  &.section08{
    background-image: url(../images/humanFlight/01.jpg);
  }
  &.section10{
    background-image: url(../images/humanFlight/02.jpg);
  }
  &.section11{
    background-image: url(../images/humanFlight/03.jpg);
  }
  &.section12{
    background-image: url(../images/humanFlight/04.jpg);
  }
  &.section13{
    background-image: url(../images/humanFlight/05.jpg);
  }
}
.section09{
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  @include center(flex, center, center);

  .travel{
    font-weight: 400;
    font-size: 20px;
    width: 800px;

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;
    }
  }
}
.titleHuman{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;

  .titleHumanDesc{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 120px;
    text-shadow: 1px 1px 1px black;
  }
  .subTitle{
    text-shadow: 1px 1px 1px black;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 300;
  }
  img {
    width: 130px;
  }
}